.d-flex{
    display: flex;
margin-top: 200px;
}

.water {
    background-color: #92bde9;

}

.electric {
    background-color: #e2c673;

}

.grass {
    background-color: #65d965;
}

.fire {
    background-color: #e05151;

}

.normal {
    background-color: #d29172;
}

.fairy {
    background-color: pink;
}

.poison {
    background-color: #713ed9;
}

.bug {
    background-color: #7d8b00;
}

.rock {
    background-color: darkmagenta;
}

.dark {
    background-color: gray;
}

.psychic {
    background-color: #7d8b00;
}

.steel {
    background-color: darkcyan;
}

.fighting {
    background-color: darkkhaki;
}

.ground {
    background-color: #5b0b24;
}

.dragon {
    background-color: darkgoldenrod;
}

.ice {
    background-color: lightcoral;
}

.ghost {
    background-color: #3c175f;
}

